In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/workspaces/demo-devcontainer/resource/holding-001.csv", nrows=1000000)
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [24]:
df.head(20).tail(5)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10

In [25]:
df.tail(20).head(5)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
999980,3092652,2020/12/31,8,2021/01/08,0.60,11178.0,786707.64,SMARTSHEET INC,83200N10
999981,3092652,2020/12/31,9,2021/01/08,0.56,4692.0,733031.16,ALEXION PHARMACEUTICALS INC,01535110
999982,3092652,2020/12/31,10,2021/01/08,0.55,6072.0,722325.12,NOVAVAX INC,67000240
999983,3092652,2020/12/31,11,2021/01/08,0.54,2484.0,718074.72,AMEDISYS INC,02343610
999984,3092652,2020/12/31,12,2021/01/08,0.54,4830.0,714936.60,FORTINET INC,34959E10

In [29]:
df[500:505]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
500,2998821,2020/11/30,3,2021/01/08,2.74,585810.0,47204569.80,ENCOMPASS HEALTH CORP,29261A10
501,2998821,2020/11/30,4,2021/01/08,2.73,1019787.0,46950993.48,JOHNSON CONTROLS INTL PLC,G5150210
502,2998821,2020/11/30,5,2021/01/08,2.71,1645462.0,46599483.84,TAPESTRY INC,87603010
503,2998821,2020/11/30,6,2021/01/08,2.60,883918.0,44726250.80,KIRBY CORP,49726610
504,2998821,2020/11/30,7,2021/01/08,2.57,988193.0,44271046.40,CIENA CORP,17177930

In [37]:
df.loc[[1,3,5,7],"portno":"eff_dt"]

    portno   report_dt  security_rank      eff_dt
1  2998623  2020/11/30              2  2021/01/08
3  2998623  2020/11/30              4  2021/01/08
5  2998623  2020/11/30              6  2021/01/08
7  2998623  2020/11/30              8  2021/01/08

In [39]:
df.iloc[[1,3,5,7], [0, 5, 7]]

    portno  nbr_shares                     security_name
1  2998623   3087680.0    COGNIZANT TECHNOLOGY SOLS CORP
3  2998623   2815186.0   PHILIP MORRIS INTERNATIONAL INC
5  2998623    866386.0           GOLDMAN SACHS GROUP INC
7  2998623   5045923.0  AMERICAN INTERNATIONAL GROUP INC

In [40]:
df.loc[[1,3,5,7],["portno","eff_dt"]]

    portno      eff_dt
1  2998623  2021/01/08
3  2998623  2021/01/08
5  2998623  2021/01/08
7  2998623  2021/01/08

In [41]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [42]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [44]:
df["security_rank"].dtype

dtype('int64')

In [45]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3092616', '3092619',
       '3092652'], dtype=object)

In [46]:
len(df)

1000000

In [47]:
df["market_val"].mean()

np.float64(8295992.487287326)

In [48]:
df["market_val"].std()

np.float64(81533843.61393921)

In [49]:
df["market_val"].max()

np.float64(18628182175.98)

In [50]:
df["market_val"].min()

np.float64(-7381044552.0)

In [ ]:
df.mean()

In [7]:
df.describe()

        security_rank     percent_tna    nbr_shares    market_val
count  1000000.000000  1000000.000000  1.000000e+06  1.000000e+06
mean       878.182552        0.313768  4.992272e+07  8.295992e+06
std       1319.490208        1.713193  1.176281e+10  8.153384e+07
min          1.000000     -200.000000 -4.398750e+12 -7.381045e+09
25%        116.000000        0.010000  2.069500e+04  1.783209e+05
50%        398.000000        0.050000  2.000000e+05  8.666431e+05
75%       1090.000000        0.210000  1.208042e+06  3.516512e+06
max      12388.000000      300.080000  6.667220e+12  1.862818e+10

In [8]:
df["portno"].value_counts()

portno
3076812    10798
3062442     9285
3092256     8456
307883d     8331
3062436     7676
           ...
3075153        1
307512c        1
3073329        1
3080052        1
3082554        1
Name: count, Length: 3867, dtype: int64

In [10]:
df["portno"] == "2998623"

0          True
1          True
2          True
3          True
4          True
          ...
999995    False
999996    False
999997    False
999998    False
999999    False
Name: portno, Length: 1000000, dtype: bool

In [11]:
df[df["portno"] == "2998623"]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
346,2998623,2020/11/30,352,2021/01/08,0.00,1303.0,1.594570e+03,Ginnie Mae 2 20-JAN-2031 003028,36202DLH
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10

In [12]:
df[
    df["portno"].isin(["3092616","2998623"])
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10
999569,3092616,2020/09/30,259,2021/01/08,0.07,31986.0,6.994347e+05,SABIC Agri-Nutrients Co ORD,M8T36M10

In [13]:
portno_filter = df["portno"].isin(["3092616","2998623"])
percent_gl_2_filter = df["percent_tna"] > 2

In [14]:
df[
   portno_filter & percent_gl_2_filter
   ]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10

In [15]:
percent_lt_1_filter = df["percent_tna"] < 1

In [16]:
df[
   percent_gl_2_filter | percent_lt_1_filter
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
32,2998623,2020/11/30,33,2021/01/08,0.97,2350480.0,1.180881e+08,COMCAST CORP NEW,20030N10
33,2998623,2020/11/30,34,2021/01/08,0.94,724928.0,1.148431e+08,N X P SEMICONDUCTORS N V,N6596X10
34,2998623,2020/11/30,35,2021/01/08,0.94,3616628.0,1.138514e+08,US FOODS HOLDING CORP,91200810
35,2998623,2020/11/30,36,2021/01/08,0.91,2015089.0,1.109710e+08,CITIGROUP INC,17296742
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [17]:
df[
    portno_filter & (percent_gl_2_filter | percent_lt_1_filter)
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
32,2998623,2020/11/30,33,2021/01/08,0.97,2350480.0,1.180881e+08,COMCAST CORP NEW,20030N10
33,2998623,2020/11/30,34,2021/01/08,0.94,724928.0,1.148431e+08,N X P SEMICONDUCTORS N V,N6596X10
34,2998623,2020/11/30,35,2021/01/08,0.94,3616628.0,1.138514e+08,US FOODS HOLDING CORP,91200810
35,2998623,2020/11/30,36,2021/01/08,0.91,2015089.0,1.109710e+08,CITIGROUP INC,17296742
...,...,...,...,...,...,...,...,...,...
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10
999569,3092616,2020/09/30,259,2021/01/08,0.07,31986.0,6.994347e+05,SABIC Agri-Nutrients Co ORD,M8T36M10

In [20]:
df.groupby("portno").sum()["market_val"]

portno
2998623    1.213476e+10
2998638    8.460393e+09
2998809    1.989293e+09
2998821    1.721541e+09
2999052    8.558093e+05
               ...
309260a    1.133305e+06
309260d    1.738378e+08
3092616    6.994347e+05
3092619    5.070766e+06
3092652    1.563519e+08
Name: market_val, Length: 3867, dtype: float64

In [21]:
df.groupby("portno").sum(numeric_only=True)

         security_rank  percent_tna    nbr_shares    market_val
portno
2998623          61888        99.79  3.817768e+09  1.213476e+10
2998638           3021        99.89  4.856478e+08  8.460393e+09
2998809           2485        99.50  1.312320e+08  1.989293e+09
2998821           1485       100.01  7.659816e+07  1.721541e+09
2999052            634         0.08  8.600000e+05  8.558093e+05
...                ...          ...           ...           ...
309260a            439         0.10  5.265000e+06  1.133305e+06
309260d         133030       100.79 -1.411982e+10  1.738378e+08
3092616            259         0.07  3.198600e+04  6.994347e+05
3092619          81372       100.06  5.315248e+06  5.070766e+06
3092652            377       118.57  1.346848e+08  1.563519e+08

[3867 rows x 4 columns]

In [30]:
df.groupby("portno").get_group("315733b")

/tmp/ipykernel_32654/2889449747.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df.groupby(["portno"]).get_group("315733b")

KeyError: '315733b'

In [28]:
df.groupby(["portno", "security_name"]).size()

portno   security_name
2998623  10YR TNotes MAR1                    1
         5YR T NOTES MAR1                    1
         ALCON INC                           1
         AMERICAN INTERNATIONAL GROUP INC    1
         AMG Capital Trust II                1
                                            ..
3092652  TAKE TWO INTERACTIVE SOFTWR INC     1
         USD Cash                            1
         WORLD WRESTLING ENTMT INC           1
         ZSCALER INC                         1
         ZYNGA INC                           1
Length: 980492, dtype: int64

In [27]:
df.groupby(["portno", "security_name"]).sum()

                                           report_dt  security_rank  \
portno  security_name
2998623 10YR TNotes MAR1                  2020/11/30            351
        5YR T NOTES MAR1                  2020/11/30            350
        ALCON INC                         2020/11/30             84
        AMERICAN INTERNATIONAL GROUP INC  2020/11/30              8
        AMG Capital Trust II              2020/11/30            107
...                                              ...            ...
3092652 TAKE TWO INTERACTIVE SOFTWR INC   2020/12/31             13
        USD Cash                          2020/12/31              1
        WORLD WRESTLING ENTMT INC         2020/12/31             25
        ZSCALER INC                       2020/12/31              6
        ZYNGA INC                         2020/12/31             18

                                              eff_dt  percent_tna  \
portno  security_name
2998623 10YR TNotes MAR1                  2021/01/08        -0.34
        5YR T NOTES MAR1                  2021/01/08        -0.17
        ALCON INC                         2021/01/08         0.43
        AMERICAN INTERNATIONAL GROUP INC  2021/01/08         1.60
        AMG Capital Trust II              2021/01/08         0.19
...                                              ...          ...
3092652 TAKE TWO INTERACTIVE SOFTWR INC   2021/01/08         0.54
        USD Cash                          2021/01/08       101.93
        WORLD WRESTLING ENTMT INC         2021/01/08         0.50
        ZSCALER INC                       2021/01/08         0.61
        ZYNGA INC                         2021/01/08         0.53

                                           nbr_shares    market_val     cusip
portno  security_name
2998623 10YR TNotes MAR1                       -299.0 -4.131339e+07         0
        5YR T NOTES MAR1                       -167.0 -2.104722e+07         0
        ALCON INC                            811539.0  5.199038e+07  H0130112
        AMERICAN INTERNATIONAL GROUP INC    5045923.0  1.939653e+08  02687478
        AMG Capital Trust II                 483000.0  2.321419e+07  00170F20
...                                               ...           ...       ...
3092652 TAKE TWO INTERACTIVE SOFTWR INC        3450.0  7.119075e+05  87405410
        USD Cash                          134422204.0  1.344131e+08         0
        WORLD WRESTLING ENTMT INC             13662.0  6.609676e+05  98156Q10
        ZSCALER INC                            4002.0  8.056426e+05  98980G10
        ZYNGA INC                             71622.0  6.961658e+05  98986T10

[980492 rows x 7 columns]

In [31]:
df.groupby(["portno", "eff_dt"])["percent_tna"].sum()

portno   eff_dt
2998623  2021/01/08     99.79
2998638  2021/01/08     99.89
2998809  2021/01/08     99.50
2998821  2021/01/08    100.01
2999052  2021/01/08      0.08
                        ...
309260a  2021/01/08      0.10
309260d  2021/01/08    100.79
3092616  2021/01/08      0.07
3092619  2021/01/08    100.06
3092652  2021/01/08    118.57
Name: percent_tna, Length: 3867, dtype: float64

In [32]:
df[df["portno"] == "2998623"].groupby("report_dt").sum().sort_values("percent_tna", ascending=False)

,portno,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
report_dt,,,,,,,,
2020/11/30,2998623299862329986232998623299862329986232998...,61888,2021/01/082021/01/082021/01/082021/01/082021/0...,99.79,3.817768e+09,1.213476e+10,GENERAL MOTORS COCOGNIZANT TECHNOLOGY SOLS COR...,37045V1019244610617446447181721022052L1038141G...